<h2>My Active Habits <a><%=link_to "Create a new habit!", new_habit_path, class: "btn btn-md btn-success float-right"%></a></h2>
<div class="col-md-12" style="margin-top:15px">
  <% i = 0 %>
  <% while i < @active_habits.count %>
    <% habit1 = @active_habits[i] %>
    <% habit2 = @active_habits[i + 1] %>
    <% habit3 = @active_habits[i + 2] %>
    <% habit4 = @active_habits[i + 3] %>

    <div class="row">
      <div class="col-md-3 left-align-padding">
        <%= (render 'shared/habit_card', habit: habit1) if habit1.present?%>
      </div>
      <div class="col-md-3 left-align-padding">
        <%= (render 'shared/habit_card', habit: habit2) if habit2.present?%>
      </div>
      <div class="col-md-3 left-align-padding">
        <%= (render 'shared/habit_card', habit: habit3) if habit3.present?%>
      </div>
      <div class="col-md-3 left-align-padding">
        <%= (render 'shared/habit_card', habit: habit4) if habit4.present?%>
      </div>
    </div>
    <% i += 4 %>
  <% end %>
</div>

