<% is_invitation = params[:controller] == 'notifications' %>
<% if is_invitation %>
<div class="well habit-card" style="padding:20px">
<% else %>
<div class="well habit-card habit-card-extended" style="padding:20px">
<% end %>
  <div style="margin-bottom:5px">
    <% name = habit.name.truncate(25) %>
    <% if is_invitation %>
      <%= link_to name, show_habit_invitation_path(habit_id: habit), class: "habit-card-title"%>
    <% else %>
      <%= link_to name, habit_path(habit), class: "habit-card-title"%>  
    <% end %> 
  </div>
  <div class="habit-label smaller">
    Participants
  </div>
  <div class="habit-card-profile-images" style="margin-bottom:10px">
    <%= render 'shared/habit_participants', participants: habit.users %>
  </div>
  <div class="line-separator"></div>
  <div class="habit-card-description"> 
    <% description = habit.description.truncate(60) %>
    <%= description %>
  </div>
  <% if is_invitation %>
    <div class="anchor-bottom" align="center" style="margin-top: 15px">
      <%= link_to "Accept Invitation", accept_habit_invitation_path(habit_id: habit), method: :post, class: "custom-btn"%>
    </div>
  <% end %>
</div>