<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to "Habit Labs", root_path, class: "navbar-brand" %>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "My Profile", user_path(current_user), class:"nav-bar-link"%></li>
          <li><%= link_to "Notifications", "#", class:"nav-bar-link"%></li>
        </ul>
        <ul class="navbar-right">
          <div class="nav navbar-nav">
            <li><%= image_tag User.get_object(current_user).gravatar_url, class: "profile-image-small" %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </div>
        </ul>
      <% end %>
    </div>
  </div>
</div>
