<div class="well" style="margin-bottom:0">
  <div align="left">
    <div class="habit-name-label" style="margin-bottom:10px">
      <%= habit.name %>
    </div>
    <div class="habit-label">
      Participants:
    </div>
    <div style="margin-bottom:10px">
      <%= render 'shared/habit_participants', participants: habit.users, can_edit: false%>
    </div>
    <div class="habit-description-label">
      <%= habit.description %>
    </div>
    <div class="separator"></div>
    <div class="habit-label">
      Habit Information:
    </div>
    <div class="habit-data-label">
      <%= render 'habits/habit_information', habit: habit%>
    </div>
    <div class="separator"></div>
    <div class="habit-label">
      Achievement History:
    </div>
    <div id="achievement-history">
      <% limit = habit.frequency == 0 ? DateTime.current + 1.days : DateTime.current + 1.weeks %>
      <%= render 'habits/achievement_history.html', habit: habit, user_habit: user_habit, show_deadline_limit: limit %>
    </div>
  </div>
</div>